<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
    bootstrap="tests/phpunit/bootstrap.php"
    cacheDirectory=".phpunit.cache"
    colors="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
>
    <testsuites>
        <testsuite name="Aldus Unit Tests">
            <directory>tests/phpunit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>includes</directory>
            <directory>src/php</directory>
        </include>
    </source>
</phpunit>
